<form name="form" ng-submit="submitPoll()">

    <div>
        <input placeholder="Start by asking a question" type="text" ng-model="poll.question" required class="text-input"/>
    </div>
    
    <div class="options">


        <div ng-repeat="option in poll.options track by $index">
            <input placeholder="Option {{$index+1}}" type="text" ng-model="poll.options[$index]" ng-required="$first || $index == 1" class="text-input" />
            <input type="button" ng-show="$last" value="Add another choice" ng-click="addOption()">
        </div>
        <div>
            <input type="checkbox" id="multiChoice" ng-model="poll.multiChoice" />
            <label for="multiChoice">Allow multiple poll choices?</label>
        </div>
    </div>


    <div>
        <button type="submit" ng-disabled="!form.$valid">Create poll</button>
    </div>
</form>